// Relax// Relax
  // Slow down
  // Think through it first, plan it, then code

@import 'locate://responsive-css-accordion/mixins.less';

.alert {
  .roundBorder();
  padding: 10px;
}
.alert-success {
  background-color: #DFF0D8;
  border: 1px solid green;
}