@import 'locate://responsive-css-accordion/mixins.less';
@import 'locate://responsive-css-accordion/less/components/close-button.less';

.alert {
  .roundBorder();
  padding: 10px;
  position: relative;
}
.alert-success {
  background-color: #DFF0D8;
  border: 1px solid green;
}

.alert-toggle:checked + .alert {
  display: none;
}

.alert {
  display: flex;
  justify-content: space-between;
  .close-alert {
    cursor: pointer;
    &:hover {

    }
  }
}