@import '../lib/mixins';
@import '../lib/variables';

.accordion {
  list-style: none;
  font-family: sans-serif;
  position: relative;
  .clearfix();

  &.accordion-tab {

    .accordion-section {
      @media only screen and (min-width: 768px) {
        display: inline;
      }

      .accordion-section-selector {

        &:checked ~ .accordion-section-content {
          @media only screen and (min-width: 768px) {
            float: left;
          }

        }

      }

      .accordion-section-header {
        display: inline;
      }

    }

  }

  &.accordion-left-side {

    .accordion-section {

      display: flex;

      @media @small-device {
        display: block;
      }


      .accordion-section-selector {

        &:checked ~ .accordion-section-content {

          @media @medium-device {
            position: absolute;
            top: 0;
          }

          @media @large-device {
            position: absolute;
            top: 0;
          }

        }

      }

    }

  }


  .accordion-section {
    margin: 0;
    padding: 18px 0 4px;
    display: block;

    .accordion-section-selector {
      outline: none;

      &:checked ~ .accordion-section-content {
        display: block;
      }

      &:checked + .accordion-section-header {
        background-color: white;
        color: gray;
      }

    }

    .accordion-section-header {
      cursor: pointer;
      padding: 10px;
      background-color: lightgray;
      margin-right: -2px;
      display: block;;
    }

    .accordion-section-content {
      margin-top: 14px;
      display: none;
      width: 100%;
    }

  }

}
