@import '../lib/variables';

.pcssc-dropdown {

  @media @smart-phone {

    .focus-toggle {
      display: none;
    }

  }

  @media @large-device {

    .click-toggle {
      display: none;
    }

    .focus-toggle {
      display: inline-block;
    }

  }

  .dropdown-toggle {
    position: relative;
    cursor: pointer;

    @media @smart-phone {

      &:checked {
        pointer-events: none;
        outline: none;

        & + .dropdown-content {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

      }

    }

    @media @large-device {

      &:focus {
        pointer-events: none;
        outline: none;

        & ~ .dropdown-content {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

      }

    }

  }

  .dropdown-content {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: auto;

    .dropdown-menu-item {
      list-style-type: none;
      white-space: nowrap;

      .dropdown-action-item {
        background: transparent;
      }

    }

  }
}
