@import 'with-pure-imports';
@import 'lib/variables';

// COLORS
@light-blue: #4dbbdb;
@white: #ffffff;
@off-white: #dddddd;
@black: #191818;
@light-gray: #999999;
@menu-link: #777777;
@menu-hover-color: #333333;

body {
  font-family: sans-serif;

  .collapse-content {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;
  }

  .close-button {
    background-color: white;
    color: @black;
    padding: 3px 7px;
    border: 1px solid lightgray;
    border-radius: 5px;

    &:hover {
      background-color: @light-blue;
      color: white;
    }

  }

  .small-caps {
    font-size: 12px;
  }

  .alert {
    .roundBorder();
    padding: 10px;
    position: relative;
  }

  .alert-success {
    background-color: #dff0d8;
    border: 1px solid green;
  }

  .tooltip {
    margin-bottom: 30px;

    .tooltip-target {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: 5px;
    }

    .tooltip-body {
      margin-top: -90px;
      margin-left: 100px;
    }

  }

  .pure-menu-heading {
    background-color: @black;
    width: 160px;
    color: @white;

    &:hover {
      color: @light-gray;
    }

  }

  .pcssc-collapsing-menu {
    background: @black;

    .dropdown:focus + .dropdown-content {
      transition: all 0.2s ease-out;
    }

  }

  .dropdown-content {
    z-index: 1;
    transition: visibility 0.5s;
    background-color: @white;
    border: 1px solid @off-white;
    width: auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;

    &.pure-menu {
      background: @black;
      padding: 0;
      width: 160px;
      border: 0;

      @media @medium-device {
        top: 38px;
      }

      @media @large-device {
        top: 50px;
      }

      .pure-menu-item {

        .pure-menu-link {
          color: @menu-link;

          &:hover {
            background: @menu-hover-color;
          }

        }

      }

    }

    .dropdown-menu-item {

      .dropdown-action-item {
        border: 0;
        border-radius: 5px;
        color: inherit;
        outline: 0;
        cursor: pointer;
        width: 120px;
        text-align: left;

        &:hover {
          color: @white;
          background: @light-blue;
        }

      }

    }

  }

  .popover {
    background-color: @white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;

    .popover-title {
      font-size: 1rem;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
    }

  }

  .section-indicator-content {
    max-width: 75%;
  }

  .section-indicator-header {

    &:nth-child(2) .section-indicator-selector {
      margin-left: 10%;

      @media @smart-phone {
        margin-left: 0;
      }

    }

    &:last-child .section-indicator-selector {
      margin-left: 20%;

      @media @smart-phone {
        margin-left: 0;
      }

    }

  }

  .left-accordion-side {

    .accordion-section-content {

      @media @medium-device {
        left: 20%;
      }

      @media @large-device {
        left: 20%;
      }

    }

  }

  .right-accordion-side .accordion-section .accordion-section-content {

    @media @medium-device {
      right: 20%;
      width: 80%;
    }

    @media @large-device {
      right: 20%;
      width: 80%;
    }

  }

  //.section-indicator-header { &:last-child .section-indicator-selector

}
