@import 'less/accordion/accordion';
@import 'less/dropdown/dropdown';
@import 'less/modal/modal';
@import 'less/inline-alert/inline-alert';
@import 'less/carousel/carousel';
@import 'less/popover/popover';

body {
  font-family: sans-serif;

  .hidden {
    display: none;
  }

  #tab-content {
    .clearfix();
  }

  #dropdown {
    margin-top: 50px;
    .onclick-menu {
      left: 5%;
      .onclick-menu-content li button {
        font-size: 14px;
      }
    }
  }

  #modal, #inline-alert, #popover {
    margin-top: 50px;
  }
}