@import 'imports';

body {
  font-family: sans-serif;

  .invisible {
    display: none;
  }

  #tab-content {
    .clearfix();
  }

  #dropdown {
    margin-top: 50px;
    .onclick-menu {
      left: 5%;
      .onclick-menu-content li button {
        font-size: 14px;
      }
    }
  }

  #modal, #inline-alert, #popover, .in-section-header {
    margin-top: 50px;
  }

  #alert .alert {
    width: 75%;
  }

  .collapse-content {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;
  }

  .small-caps {
    font-size: 12px;
  }

}