@import 'with-pure-imports';

body {
  font-family: sans-serif;

  .collapse-content {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;
  }

  .small-caps {
    font-size: 12px;
  }

  .alert {
    .roundBorder();
    padding: 10px;
    position: relative;
  }

  .alert-success {
    background-color: #dff0d8;
    border: 1px solid green;
  }

}
