// Mixins
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.buttonLink() {
  background-color: transparent;
}

.roundBorder() {
  border-radius: 5px;
}

.arrowWidth() {
  width: 0;
  height: 0;
}